.display-pane {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 15px;
  padding: 5px;
}
.tutorial-element {
  width: 20%;
}
.tutorial-img-div {
  display: flex;
  flex-direction: column;
}
.tutorial-img-div img {
  max-height: 100px;
  max-width: 170px;
}
.tags-pdf {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* margin-block: auto; */
}

.tags-pdf p {
  margin: -2px;
  margin-inline: 4px;
}
.chip {
  margin: 1px;
  margin-inline: 6 px;
}
